* {
    transition: all 0.2s ease-in-out;
}
body {
    background: #008888;
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    font-family:'Times New Roman', Times, serif;
}
.card {
    background: #fdfdfd;
    border-radius: 4px;
    height: 85vh;
    width: 80vw;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 16), 0 3px 6px rgba(0, 0, 0, 23);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    overflow: hidden;
}

@media (min-width: 1000px) {
    .card {
        flex-direction: row-reverse;
    }
    .card img.birthday {
        width: 35%;
        max-width: 50vw;
        max-height: unset;
    }
}

@media (max-height: 640px) {
    .card {
        flex-direction: row-reverse;
    }
    .card img.birthday {
        width: 35%;
        max-width: 50vw;
        max-height: unset;
    }
}

img.birthday {
    width: 200px;   
}

.text {
    padding: 1em;
}

.muted {
    opacity: 0.8;
}
.space {
    height: 100px;
}

span {
    background: url("images/IMG-20231115-WA0079.jpg");
    width: 100px;
    height: 100px;
    position: absolute;
    background-size: cover;
    /* pointer-events: none; */
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%; 
    animation: animate 3s linear;
}

@keyframes animate {
    0% {
        transform: translate(-50%, -50%);
        opacity: 1;
        filter: hue-rotate(0);
    }
    100% {
        transform: translate(-50%, -5000%);
        opacity: 0;
        filter: hue-rotate(750deg);
    }
}
